<ion-header>
  <ion-toolbar>
    <ion-title>Company History</ion-title>
    <ion-buttons slot="start" class="menuBtn">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="company">
    <ion-card-content>
      <img src="../../assets/img/beerusss.gif">
      <p>The Origins Beerus was created By Christian Joel Banquito and Raven Rovic Reyes in 2021. the two developers who loves Anime in which they watch The anime Dragon Ball Super where Beerus was the God of Destruction. Beerus was taken from the word “virus” though Toriyama mistakingly believed the word meant "beer". Gods of Destruction and attendants named after alcoholic beverages.</p><br>
      <ion-row>
        <ion-col>
          <img src="../../assets/img/beeruspub2.gif">
        </ion-col>
        <ion-col>
          <img src="../../assets/img/beeruspub1.png">
        </ion-col>
      </ion-row>
      <p>Beerus is a liquor delivery service accessible online via beerus app that allows you to order International and local premium Beer Brands and have it conveniently delivered to your home, office, or any address. We closely monitor online pricing of other similar websites on an ongoing basis. While we exert best effort to maintain lowest online prices for specific products with the badge, we cannot guarantee that it will be updated real time. Due to the nature of online pricing that can change at any moment, our promise is that it is the lowest price online at the time of our last monitoring.</p>
    </ion-card-content>
  </ion-card>

  <ion-slides [options]="option" class="ion-margin-top" id="slides">
    <ion-slide>
      <ion-card>
        <img src="../../assets/img/beerus1.gif" class="img-text">
      </ion-card>
    </ion-slide>
   
    <ion-slide>
     <ion-card>
       <img src="../../assets/img/beerus2.gif">
     </ion-card>
   </ion-slide>

   <ion-slide>
     <ion-card>
       <img src="../../assets/img/beerus3.gif">
     </ion-card>
   </ion-slide>

  <ion-slide>
    <ion-card>
      <img src="../../assets/img/beerus4.gif">
    </ion-card>
  </ion-slide>
 </ion-slides>
</ion-content>
