<ion-header>
  <ion-toolbar>
    <ion-title>developers</ion-title>
    <ion-buttons slot="start" class="menuBtn">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <img src="../../assets/img/aboutUs/Reyes.jpg"><br>
      <ion-label>Reyes, Raven Rovic</ion-label><br>
      <ion-label>3rd year, BSIT Student</ion-label><br>
      <ion-label>Owner/Developers</ion-label>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <img src="../../assets/img/aboutUs/Banquito.jpg"><br>
      <ion-label>Banquito, Christian Joel</ion-label><br>
      <ion-label>3rd year, BSIT Student</ion-label><br>
      <ion-label>Owners/Developers</ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
