<ion-header>
  <ion-toolbar>
    <ion-title>Contact Us</ion-title>
    <ion-buttons slot="start" class="menuBtn">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-content>
       <h2>Get in touch</h2>
       <ion-item>
        <ion-label position="floating">Name:</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email:</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Message:</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
  
      <ion-grid>
      <ion-row>
        <ion-col>
          <ion-icon src="../../assets/icon/icons8-facebook.svg"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon src="../../assets/icon/icons8-twitter.svg"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon src="../../assets/icon/icons8-instagram.svg"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon src="logo-twitter"></ion-icon>
        </ion-col>
      </ion-row>
       </ion-grid>
      </ion-card-content>
    </ion-card>
</ion-content>
